@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--main-bg-color: #f0f0f0;
	--accent-color: #f8760d;
	--text-color: #4A4A4A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section {
  height: calc(100vh - 70px - 109px);
	background-color: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;          
  max-width: none;      
  margin: 0;            
  padding: 0; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;  
  width: 100%;          
  max-width: 100vw;
}

.content-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.content-list__item {
  text-align: center;
  margin-bottom: 20px;
  color:#4A4A4A;
}

.title-1 {
	margin-top: 60px;
  text-align: center;
}

.title-2 {
  margin-bottom: 5px;
}

.content-list__item_2 {
  margin-top: 0;
}